body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

/* Header Section */

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
}

header img {
	display: flex;
	align-items: center;
	align-content:center;
	height: 50px;
	padding-left: 10px;
	padding-top: 5px;
}

nav {
	display: flex;
	align-items: center;
	align-content: center;

}

nav h5 {
	text-align: center;
	padding: 20px;
	font-weight: normal;
	font-size: large;
}

nav a {
	color: seashell;
}

/* Main Section */

main {
	justify-items: center;
	padding-left: 20px;
}

#hero {
	width: 1200px;
	background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg"); 
	height: 700px;
	text-align: center;
}

#content {
	background: black;
	width: 1200px;
	height: 110px;
}

h2, h4 {
	padding: 2px;
	margin: 2px;
}

#headline {
	background: black;
	width: 1200px;
	height: 110px;
}

#feature {
	padding: 40px;
}

#products {
	width: 1200px;
	display: inline-flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	column-gap: 40px;
	row-gap: 10px;
	flex-wrap: wrap;
}

#products img {
	width: 300px;
	height: 200px;
		
	}

#products h5 {
	padding: 10px;
	margin: 10px;
}

#locations {
	height: 500px;
	width: 1200px;
	background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
}
#locations h2 {
	width: 1200px;
	padding: 50px 0px 15px 0px;
	margin: 0px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
		
}

#box {
	width: 1200px;
	display: inline-flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
	
}

.location {
	width: 300px;
	background-color: black;
}

.location p {
	font-size: large;
}

#contact {
	height: 200px;
	width: 1200px;
	padding-top: 20px;
	
}


/* Footer Section */

footer {
	text-align: left;
	padding-left: 20px;
	font-size: x-small;
	padding-bottom: 20px;
}
